# Environment variables
.env

# Python virtual environment
venv/
.venv/

# Python cache files
__pycache__/
*.pyc

# Saved Machine Learning Models
*.pkl

# VS Code & OS-specific files
.vscode/
.DS_Store
tempCodeRunnerFile.py

# Uploads folder
uploads/